.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}

footer{
  position:relative;
  bottom: 0px;
padding-bottom: 0px !important;
}

.filter{
  margin-bottom: 11px;
}

.cart{
  min-height: 15em;
  
}

.home{
  min-height: 15em;
}
 
